.card-header, .card-footer{
  background-color: #301472;
}
#sign-in{
  background-color: #1da7a7;
  border: none;
}
#sign-in:hover{
  background-color: #301472;
}
.card-body{
  background-color: rgba(255, 255, 255, 0.5);
}