.userImg{
  width: 40px;
}
.navbar{
  background-color: #1da7a7;
}
.navbar-light .navbar-brand{
  padding: 1vh;
}
.navbar-light .navbar-brand, li a{
  color: white !important;
}
.navbar-light .navbar-brand:hover, li a:hover{
  background-color: #301472;
  border-radius: 0.5vh;
}
#user-pic{
  display: inline-block;
  width: 40px;
  height: 40px;;
  background-size: cover;
  border-radius: 50%;
}
#user-name{
  padding: 1vh;
  color: white;
}
.signInContainer{
  width: 70vw;
  margin-top: 20vh;
}
#signOut:hover{
  background-color: #301472;
  color: white;
}
#signOut{
  background-color: transparent;
  color: white;
  border-color: #301472;
}
#newsLink{
  color: green;
}
.askNav{
  background-color: #1da7a7;
  border: 1px solid #1da7a7;
  border-radius: 1vh 1vh 0 0 ;
  padding: 1vh;
  margin: 0  0 1vh;
}